{% load i18n %}
<h2>{{ filter_field }}</h2>
<form class="form">
    <div class="form-group">
        {% for choice, selected in filter_choices.items %}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="{{ filter_query_prefix}}_{{ choice }}" value="1" {% if selected %} checked {% endif %}>
                {{ choice }}
            </label>
        </div>
        {% endfor %}
        <br />
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            {% trans "Filter" %}
        </button>
    </div>
</form>
